@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color: #f0f0ed;
    font-family: 'Open Sans', sans-serif;
    
}

/* nav-bar */

.bg-green {
    background-color: #597E52;
}
/* botones nav-bar */

.btn-outline-success{
    color: white;
    background-color:#597E52;
    border: none;
    outline: none;
    border-radius: 8px;

}
.btn-outline-success:hover{
    color: #8dc981;
}
/* side-bar */
@media(max-width:991px){
    .sidebar{
        background-color: #161616;
        backdrop-filter: blur(10px);
    }
}


.navbar-nav .nav-link {
    color: white;
    padding: 1rem 0.5rem; 
  }
  
.navbar-nav .nav-link:hover {
    color: #000000;
  }
  
.navbar-brand{
    color: white;
    font-weight: bold;
}

.cart-logo{
  margin-top: 13px;
  padding-right: 15px;
}
/* carusel */

.carousel-item{
    width: 100%;
    height: 700px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* beneficios */

#beneficios{
    background-color: #597E52;
}
#beneficios li{
    color: white;
    font-weight: bold;
}
#beneficios ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
  }
  
  .beneficio-item {
    flex: 0 0 calc(25% - 20px); 
    margin: 10px;
    text-align: center;
  }
  
  .beneficio-item img {
    max-width: 100%;
    height: auto;
  }
  





/* lista de destacados */


/* Estilos generales */
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.card {
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px; 
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.card-text {
  color: #555;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.container-destacados h2 {
  text-align: center;
  margin: 0 auto 80px;
  line-height: 60px;
  color: #555;
}

.container-destacados h2::after {
  content: "";
  display: block;
  background: #597e52;
  width: 160px;
  height: 5px;
  border-radius: 5px;
  margin: 10px auto; 
}

.card-body .btn-primary {
  background-color: #597e52;
  border: none;
  outline: none;
  border-radius: 8px;
}

.card-body .btn-primary:hover {
  background-color: #8dc981;
}

/* Media Queries */
@media (max-width: 767px) {
  .card-container { 
    flex-wrap: wrap;
  }

  .card {
    width: 100%;
  }

  .container-destacados h2 {
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .card {
    width: calc(30% - 20px);
  }
}


  /* marcas */

  .brands {
    margin: 100px auto;
    display: flex;
    justify-content: center;
  }
  
  .col-5 {
    width: 160px;
  }
  
  .col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
  }
  
  .col-5 img:hover {
    filter: grayscale(0%);
  }
  
  @media (max-width: 767px) {
    .brands {
      margin: 50px auto;
    }
  
    .col-5 {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    .col-5 {
      width: calc(50% - 20px);
      margin-right: 20px;
      margin-bottom: 20px;
    }
  
    .col-5:last-child {
      margin-right: 0;
    }
  }
  
  @media (min-width: 1024px) and (max-width: 1199px) {
    .col-5 {
      width: calc(30% - 20px);
      margin-right: 20px;
      margin-bottom: 20px;
    }
  
    .col-5:last-child {
      margin-right: 0;
    }
  }
  
  @media (min-width: 1200px) {
    .col-5 {
      width: calc(20% - 20px);
      margin-right: 20px;
      margin-bottom: 20px;
    }
  
    .col-5:last-child {
      margin-right: 0;
    }
  }
  


/* footer */

.footer {
  background-color: #333;
  color: #fff; 
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
  flex: 1;
  min-width: 200px; 
  margin-bottom: 20px; 
}

.footer-col-1 img {
  width: 100%;
  max-width: 150px; 
  display: block; 
  margin-bottom: 10px; 
}







/* Catalogo*/

.container-catalogo body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

.container-catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.producto {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto img {
  max-width: 100%;
  height: 300px; 
  object-fit: cover; 
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h3 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #333;
}

p {
  color: #666;
}

.detalles {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.precio {
  font-weight: bold;
  color: #4caf50;
}

button {
  padding: 8px 16px;
  background-color: #597E52;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #8dc981;
}

select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}



.contenedor-general body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

.contenedor-general {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.filtros {
  width: 200px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.filtros h2 {
  font-size: 1.2rem;
  color: #333;
}

.filtros ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filtros li {
  margin-bottom: 10px;
}

.filtros a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.filtros a:hover {
  color: #4caf50;
}

.container-catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.producto {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto img {
  max-width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h3 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #333;
}

p {
  color: #666;
}

.detalles {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.precio {
  font-weight: bold;
  color: #4caf50;
}

button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #45a049;
}

select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}


@media screen and (min-width: 1200px) {
  .container-catalogo {
    max-width: 1200px;
    margin: 0 auto;
  }

  .contenedor-general {
    max-width: 1200px;
    margin: 0 auto;
  }

  .filtros {
    width: 200px;
  }

  .producto img {
    height: 300px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container-catalogo {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .producto img {
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  .container-catalogo {
    grid-template-columns: 1fr;
    padding: 10px;
  }

  .producto img {
    height: 150px;
  }

  .filtros {
    width: 100%;
  }
}



/* guia */

.container-guia body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.container-guia {
  max-width: 800px;
    margin: 20px auto;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
}

.container-guia img {
  width: 40%;
  float: right;
  border-radius: 8px 0 0 8px;
}

.text {
  width: 55%;
  float: left;
  padding: 20px;
}

.container-guia h2 {
  color: #333;
}

.container-guia p {
  color: #666;
}


  



/* envios */


.envios body {
 
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

.envios header {
  background-color: #e4d3b4;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.envios h1 {
  margin-bottom: 20px;
}

.envios section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.envios p {
  margin-bottom: 20px;
}

iframe {
  max-width: 100%;
  width: 800px;
  height: 450px; 
}




/*  Contacto*/


body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Estilos para la sección de contacto */
.contacto-form {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contacto-form h2 {
  color: #007bff;
  margin-bottom: 20px;
}

/* Estilos para los campos del formulario */
.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

textarea.form-control {
  resize: vertical;
}

/* Estilos para el botón del formulario */
.btn-primary {
  padding: 10px 20px;
  background-color: #597E52;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary :hover{
  color: #8dc981;
}